.grandparent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: darkolivegreen;
    height: 30vh;
    }
.parent {
    display:flex;
    justify-content:center;
    width: 40%;
    background-color: aqua;
    margin: 5px;
    flex-direction: row;
    
}
.child {
    width: 22%;
    height: 90%;
    background-color: chartreuse;
    margin: 5px;
}

.parent.column {
    flex-direction:column;
}

.parent.column .child{
    width: 90%;
    height: 22%;
 }